<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'GLIMMA_AI/css/quiz.css' %}">
</head>
<body>
    <div class="gradient-circle left"></div>
    <div class="gradient-circle right"></div>

    <!-- Progress bar to display user's progress -->
    <div class="progress">
        <div class="progress-bar" style="width: 0%;"></div>
    </div>

    <!-- Questions rendered from context -->
    {% for question, options in questions.items %}
        <!-- Each question is contained in its own div and initially hidden -->
        <div class="question-container" id="question-{{ forloop.counter0 }}" style="display: none;">
            <h2>{{ question }}</h2>
            {% if options == "input_field" %}
                <!-- For text input field -->
                <input type="text" placeholder="Enter your answer here" id="input-{{ forloop.counter0 }}">
                <button onclick="submitTextInput('{{ question }}', 'input-{{ forloop.counter0 }}')">Submit</button>
            {% else %}
                {% for option in options %}
                    <!-- Each option button has an onclick event to submit the answer and load the next question -->
                    <button onclick="submitAnswer('{{ question }}', '{{ option }}')">{{ option }}</button>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Load the quiz.js at the end -->
    <script src="{% static 'GLIMMA_AI/js/quiz.js' %}"></script>
</body>
</html>
