@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&display=swap');
html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    flex-direction: column; /* Stack children vertically */
    background: linear-gradient(153deg, rgba(2,0,36,1) 21%, rgb(17 5 59) 65%, rgb(0 10 73) 100%);
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    overflow: hidden; /* Ensure that the circles do not cause scrolling */
}

.question-container {
    text-align: center; /* Center the content within each question container */
    z-index: 2; /* keep background behind buttons*/
}

.progress {
    height: 30px;
    background-color: #333;
    margin-bottom: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #9966ff;
    transition: width 0.3s;
}

.question-container {
    display: none;
}

.start-btn,
button {
    padding: 10px 20px;
    background-color: #8055D7;
    background: linear-gradient(to bottom, #9679cf, #7a4bd8);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #f8f5f0;
    cursor: pointer;
    margin: 10px 5px 10px 5px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
    transform-origin: center;
    text-align: center;
    z-index: 1;
}

.start-btn:hover,
button:hover {
    background-color: #9679cf;
    transform: scale(1.05);
}

.start-btn:active,
button:active {
    background-color: #754dc4;
    transform: scale(0.95);
}

strong {
    background: linear-gradient(to bottom, #c4825c, #c43806);
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
}

.p-txt {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.gradient-circle {
    position: absolute;
    top: 50%;
    width: 100vw; /* Full width */
    height: 100vw; /* Equal to width to ensure it remains a circle */
    transform: translateY(-50%); /* Center vertically */
    border-radius: 50%;
    background: radial-gradient(circle, rgba(153, 102, 255, 0.2), transparent); /* Added 20% opacity */
    z-index: 1;
}

.gradient-circle.left {
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
}

.gradient-circle.right {
    right: 50%;
    transform: translateX(100%) translateY(-50%);
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    height: 35px;
    padding: 0 20px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    margin-right: 10px;
}

.welcome-section {
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

.welcome-txt {
    padding: 0px 0px 20px;
}